<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="register.css" />
    <title>Шинээр Бүртгүүлэх</title>
</head>

<body>
    <h1>Шинээр Бүртгүүлэх</h1>
    <form action="/register" method="post">
        <div>
            <label for="username">Нэр:</label><br>
            <input type="text" name="username" id="username" placeholder="Бат">
        </div>
        <div>
            <label for="password">Нууц үг</label><br>
            <input type="password" name="password" id="password" placeholder="******">
        </div>
        <div>
            <label for="phone">Утасны дугаар</label><br>
            <input type="phone" name="phone" id="phone" placeholder="99110090">
        </div>
        <div>
            <label for="email">мейл хаяг:</label><br>
            <input type="email" name="email" id="email" placeholder="mochizuki123@yahoo.com">
        </div>
        <button class="button">Бүртгүүлэх</button>
    </form>

</body>

</html>